* {
  /* padding: 0;
    margin: 0; */
  font-family: 'Poppins';
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #d9d9d9;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.navbar ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
}

.judul {
  font-size: 40px;
  align-self: center;
  font-weight: 700;
}

.profesi {
  margin: 0px 70px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.tentara {
  display: flex;
  background-color: #d5ffdd;
  border-radius: 20px;
  margin: 20px;
}

.tentara-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 20px 20px 0px;
  width: 100%;
}

.tentara-details p {
  line-height: 0px;
}

.tentara-details a {
  text-decoration: none;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  background-color: #399349;
  text-align: center;
  justify-content: center;
  color: white;
}

.tentara-details:hover {
  cursor: pointer;
}

.tentara img {
  margin-top: -50px;
}

.group-box1 {
  display: flex;
  height: 67%;
  margin-top: 30px;
}

.lainnya {
  flex: 1;
}

.card {
  background-color: #fff4dc;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  margin: 20px;
  height: 43%;
}

.card a {
  text-decoration: none;
  position: absolute;
  padding: 5px 10px;
  background-color: #e29a00;
  color: white;
  border-radius: 20px;
  width: 173px;
  /* height: ; */
  text-align: center;
  bottom: 0;
  margin-bottom: 10px;
}

.card a:hover {
  cursor: pointer;
}

.card:nth-child(2) {
  background-color: #ffced7;
}
.card:nth-child(2) a {
  background-color: #ff5573;
}

.fotografer {
  background-color: #e2f2ff;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
}

.fotografer h3 {
  font-size: 24px;
}

.fotografer p {
  margin: 0;
  width: 150px;
  text-align: center;
  line-height: 1;
}

.fotografer a {
  text-decoration: none;
  width: 173px;
  padding: 5px 10px;
  background-color: #3279af;
  color: white;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
}

.fotografer a:hover {
  cursor: pointer;
}

.dokter {
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.grup-profesi {
  display: flex;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 20px;
  gap: 10px;
  border: #d8d6c1 solid 1px;
  /* border: none; */
}

.grup-profesi img {
  margin-top: 15px;
  width: 70px;
  /* height: 70px; */
}

.grup-profesi .detail a {
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 85px;
  background-color: #d8d6c1;
  color: white;
  text-align: center;
}

.grup-profesi .detail a:hover {
  cursor: pointer;
}

.driver {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.driver > .driver-card {
  display: flex;
  flex: 1;
  border-radius: 20px;
  align-items: center;
}

.driver > .driver-card img {
  width: 120px;
}

.driver > .driver-card a {
  text-decoration: none;
  padding: 15px;
  width: 40px;
  background-color: #d8d6c1;
  color: white;
  border-radius: 15px;
}

.driver > .driver-card a:hover {
  cursor: pointer;
}

@media screen and (max-width: 1280px) and (min-width: 425px) {
  .profesi {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
  }

  .tentara {
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
  }

  .tentara img {
    width: 230px;
  }

  .tentara-details {
    align-items: center;
  }

  .tentara-details a {
    padding: 15px;
    width: 200px;
  }

  .tentara-details h2,
  p {
    text-align: center;
  }

  .group-box1 {
    flex-direction: column;
  }

  .group-box1 .fotografer h3 {
    margin-top: -5px;
  }

  .group-box1 img {
    width: 230px;
  }

  .dokter {
    background-color: white;
  }

  .lainnya .card a {
    border-radius: 15px;
    padding: 15px;
    width: 200px;
  }

  .fotografer {
    position: relative;
  }
  .fotografer img {
    margin-top: -30px;
  }

  .fotografer h3 {
    margin-top: 500px;
    font-size: 24px;
  }

  .fotografer p {
    margin-top: 0;
    line-height: 1;
    margin-bottom: 20px;
  }

  .fotografer a {
    position: absolute;
    border-radius: 20px;
    padding: 15px;
    width: 200px;
    top: 50;
    /* transform: translateY(50%); */
  }

  .grup-profesi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e9e8e2;
    padding: 0;
  }

  .grup-profesi .detail {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  .grup-profesi .detail a {
    padding: 15px;
    background-color: #cac8b3;
    color: white;
    border-radius: 15px;
    width: 200px;
    text-align: center;
  }

  .grup-profesi .detail h3 {
    display: none;
  }

  .grup-profesi img {
    width: 213px;
    height: 213px;
  }

  .dokter {
    padding: 0;
  }

  .driver {
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    background-color: white;
  }

  .driver .driver-card {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .driver-card img {
    width: 213px;
    height: 213px;
  }

  .driver > .driver-card img {
    width: max-content;
  }

  .driver .driver-card .detail {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  .driver .driver-card:nth-child(1) {
    background-color: #ffdbc5;
  }

  .driver .driver-card:nth-child(1) h3 {
    display: none;
  }

  .driver .driver-card:nth-child(1) a {
    background-color: #e36415;
    width: 200px;
  }

  .driver .driver-card:nth-child(2) {
    background-color: #8fc5ed;
  }

  .driver .driver-card:nth-child(2) h3 {
    display: none;
  }

  .driver .driver-card:nth-child(2) a {
    background-color: #275e87;
    width: 200px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 425px) {
  .profesi {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
  }

  .tentara {
    flex-direction: column;
  }

  .tentara-details {
    align-items: center;
  }

  .tentara-details a {
    padding: 15px;
    width: 200px;
  }

  .tentara-details h2,
  p {
    text-align: center;
  }

  .group-box1 {
    flex-direction: column;
  }

  .dokter {
    padding: 0;
    background-color: white;
  }

  .grup-profesi {
    flex-direction: column;
    padding: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #e9e8e2;
  }

  .grup-profesi img {
    width: 220px;
  }

  .grup-profesi .detail h3 {
    display: none;
  }

  .grup-profesi .detail {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  .driver {
    flex-direction: column;
    gap: 20px;
    padding: 0px;
  }

  .driver .driver-card {
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .driver > .driver-card img {
    width: max-content;
  }

  .driver .driver-card .detail {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  .driver .driver-card:nth-child(1) {
    background-color: #ffdbc5;
  }

  .driver .driver-card:nth-child(1) h3 {
    display: none;
  }

  .driver .driver-card:nth-child(1) a {
    background-color: #e36415;
    width: 200px;
  }

  .driver .driver-card:nth-child(2) {
    background-color: #8fc5ed;
  }

  .driver .driver-card:nth-child(2) h3 {
    display: none;
  }

  .driver .driver-card:nth-child(2) a {
    background-color: #275e87;
    width: 200px;
    padding: 15px;
  }
}
